.about__container {
  display: grid;
  grid-template-columns: 35% 53%;
  gap: 12%;
}

.about__portrait video {
  max-width: 100%;
  height: fit-content;
  background-color: white;
  min-height: 30rem;
  max-height: 40rem;
  border: 1rem solid white;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.about__portrait video:hover {
  border: 0px solid white;
}
.about__cards {
  margin: 3rem 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card.about__card {
  text-align: center;
}
.about__card-icon {
  font-size: 1.3rem;
  color: var(--color-black);
  border-radius: var(--border-radius-3);
  width: fit-content;
  margin-inline: auto;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  transition: var(--transition);
  -webkit-border-radius: var(--border-radius-3);
  -moz-border-radius: var(--border-radius-3);
  -ms-border-radius: var(--border-radius-3);
  -o-border-radius: var(--border-radius-3);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.card.about__card:hover .about__card-icon {
  background: var(--color-primary);
  color: var(--color-white);
}

.card.about__card h5 {
  margin: 1rem 0;
}
.card.about__card small {
  color: var(--color-black);
}

.about__right p {
  margin-bottom: 0.8rem;
  color: var(--color-black);
}

.about__right .btn {
  margin-top: 2.5rem;
}

/* tablets */
@media (max-width: 1024px) {
  .about__left {
    display: none;
  }
  .about__container {
    grid-template-columns: 1fr;
  }
  .about__right h2 {
    text-align: center;
  }
}
/* phones */
@media (max-width: 600px) {
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about__right .btn {
    margin-top: 2rem;
  }
}
