nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
  transition: var(transition);
  -webkit-transition: var(transition);
  -moz-transition: var(transition);
  -ms-transition: var(transition);
  -o-transition: var(transition);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__logo .logo {
  padding: 0.5rem;
  border: 4px solid white;
  background-color: var(--color-primary);
  border-radius: 50%;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.logo h3 {
  color: white;
}
.nav__menu {
  display: flex;
  gap: 3.5rem;
}
.nav__menu-btn {
  display: none;
  background-color: transparent;
  border: 0px;
  position: relative;
}
.nav__menu-icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.rotate {
  transform: rotateZ(-90deg);
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -o-transform: rotateZ(-90deg);
}
.nav__menu-mobile {
  position: absolute;
  background-color: var(--color-primary);
  padding: 5vh 1rem;
  width: 15rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 3rem;
  right: -1rem;
  gap: 1rem;
  animation: moveFromRight 1s ease-in-out forwards;
}

.nav__menu-mobile li {
  text-align: left;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.nav__menu-mobile li:hover {
  padding-left: 1rem;
}

#theme__icon {
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.theme__color {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -11.5rem;
  right: 10px;
  padding: 2rem;
  gap: 2rem;
  box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.primary__theme {
  display: flex;
  gap: 1rem;
}
.primary__theme > img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.active__icon {
  border: 2px solid white;
}

.theme__color > h3 {
  color: white;
}
.bg__theme {
  display: flex;
  gap: 1rem;
}
.bg__theme > img {
  width: 4rem;
  height: 2rem;
  cursor: pointer;
}
/* tables-phones */
@media (max-width: 1024px) {
  .nav__menu {
    display: none;
  }
  .nav__menu-btn {
    display: block;
  }
  #theme__icon {
    display: none;
  }
  #theme__icon-mobile {
    background: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  border-radius: 3rem;
  transition: 0.4s;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-primary);
  border-radius: 50%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-white);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.bg__theme {
  margin-left: 10px;
  vertical-align: middle;
  height: 20px;
}

.dark-mode {
  display: flex;

  gap: 1rem;
}
.dark-mode .icon {
  font-size: 2.2rem;
  color: var(--color-white);
}

.active {
  border: 0;
  border-bottom: 1px solid white;
  padding-bottom: 1.9rem;
}

@keyframes moveFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0.8;
  }
}
